.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.userRow {
  cursor:pointer;
}

a {
  cursor:pointer;
}

table {
  border: 0.5px;
  border-collapse: collapse;  
  border-style: solid;
  border-color: #E0DFE4;
  width: 100%;
}

thead {
  width: 100%;
}

tbody {
  width: 100%;
}


.userList {
  width: 100%;
}

.headerRow{
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-bottom: 1.5px;
  border-bottom-style: solid;
  border-color: #E0DFE4;
}


.noUsers {
  width: 100%;
}

.userRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.userRow:hover{
  background-color: #E0DFE4;
}

.idCell {
  min-width: 20%;
}

.nameCell {
  min-width: 40%;
}

.searchBar {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin: 20px;
}

.input:focus::-webkit-input-placeholder {
    color: transparent;
}