.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

table {
  border: 0.5px;
  border-collapse: collapse;  
  border-style: solid;
  border-color: #E0DFE4;
  width: 100%;
}

thead {
  width: 100%;
}

tbody {
  width: 100%;
}

.userList {
  width: 100%;
}

.username{
  font-size: 1.5rem;
}

.headerRow{
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-bottom: 1.5px;
  border-bottom-style: solid;
  border-color: #E0DFE4;
}

.noUsers {
  width: 100%;
}

.userCard{
  text-align: left;
}

.userRow {
  cursor:pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.userRow:hover{
  background-color: #E0DFE4;
}

.idCell {
  min-width: 20%;
}

.nameCell {
  min-width: 40%;
}

.tableButton {
  box-shadow: none;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  background-color: #ffffff;
  cursor:pointer;
  font-weight: bold;
  font-size: 1em;
}

.hoverText{
  font-weight: 300;
  color: rgb(97, 97, 99);
  display:none;
}
.idCell:hover .hoverText {
  display: inline;
}

.nameCell:hover .hoverText {
  display: inline;
}

.searchBar {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  height: 1.5em;
}

.input:focus::-webkit-input-placeholder {
    color: transparent;
    transition-timing-function: ease-out;
}